/* GLOBAL */
body {
	font-family: 'Nunito', sans-serif;
	background-color: #F9FAF2;
	font-variant-ligatures: none;
}

.about {
	margin: 5% 10%;
	max-width: 690px;
}

::selection {
    background: #FFBD00;
 }

 /* TYPE */

.kicker {
	font-size: 14 px;
	font-family: 'Inconsolata', monospace;
	padding-top: 1em;
	text-transform: uppercase;
	color: #0C618A;
}

h1 {
	font-size: 34px;
	color: #3D9EF1;
	line-height: 110%;
}

h2 {
	color: #3D9EF1;
}

.description {
	font-size: 20px;
	line-height: 160%;
	fon
